<h1>Minhas Tarefas</h1>

{{#each tasks}}
	<ul class='task-list'>
		<li><a href='/' class='title'>{{this.title}}</a>
			<div class='actions'>
				<a href='/'></a>
				<form action='/tasks/check' method='post'>
					<input type='hidden' name='id' value='{{this.id}}' />
					<button type='submit'>
						<i class='fa-solid fa-square-check green'></i>
					</button>
				</form>
				<form action='/tasks/remove' method='post'>
					<input type='hidden' name='id' value='{{this.id}}' />
					{{! Usar botão pois consigo colocar html dentro input:submit não }}
					<button type='submit'>
						<i class='fa-solid fa-square-minus'></i>
					</button>
				</form>
				<a href='/tasks/edit/{{this.id}}'>
					<i class='fa fa-square-pen buttons-icons'></i>
				</a>
			</div>
		</li>
	</ul>

{{/each}}